<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>rjv.woot</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1182644C-912E-4DBE-A625-34905525619E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E205EE00-B83F-4A74-B04D-36E7E04A68ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3C2C29A8-310D-4F03-838D-AD86B9C1B3AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>417085CB-CD5A-4998-AB29-364079DAE1E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robert Ventrone</string>
	<key>description</key>
	<string>Woot it up</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Woot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>woot daily</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>require_once 'woot.php';

$x = new Woot();

$x-&gt;getAllDeals();</string>
				<key>title</key>
				<string>Something cool should happen</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3C2C29A8-310D-4F03-838D-AD86B9C1B3AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www. {query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>417085CB-CD5A-4998-AB29-364079DAE1E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require_once 'woot.php';

$x = new Woot();

$x-&gt;setKey("{query}");</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E205EE00-B83F-4A74-B04D-36E7E04A68ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wootkey</string>
				<key>subtext</key>
				<string>if you do not have a woot api key please check the README</string>
				<key>text</key>
				<string>Please paste in or type your woot api key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1182644C-912E-4DBE-A625-34905525619E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1182644C-912E-4DBE-A625-34905525619E</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3C2C29A8-310D-4F03-838D-AD86B9C1B3AC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>417085CB-CD5A-4998-AB29-364079DAE1E0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E205EE00-B83F-4A74-B04D-36E7E04A68ED</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
